<!DOCTYPE html>
<html>
<head>
    <title>Gate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Set Configuration</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="POST">
        <label for="endpoint">Endpoint:<span class="required-field">*</label>
        <input type="text" name="endpoint" placeholder="https://example.com/api/v1">

        <label for="token">Token:<span class="required-field">*</label>
        <input type="text" name="token" placeholder="e.g. abc123xyz">

        <label for="relay">Relay:</label>
        <input type="text" name="relay" placeholder="14">

        <label for="hostname">Hostname:</label>
        <input type="text" name="hostname" placeholder="Gate">

        <label for="wifi">Disable wifi and bleutooth:</label>
        <input type="checkbox" name="wifi" id="wifi" value="true">

        <input type="submit" value="Save">
    </form>
</body>
</html>
