body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    background-color: #333;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #f1eca5;
    background-color: #666;
    color: #eee;
}


input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
}
  
input[type="checkbox"]:checked {
    border-color: #1ed239;
    background-color: #00fb3b;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #04ff00;
    color: #100c10;
  }

.flashes  {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    background-color: #721c24;
    color: #fff;
}

.required-field {
    color: red;
    margin-left: 5px;
}

.dark-mode {
    background-color: #333;
    color: #eee;
}

.dark-mode form {
    background-color: #444;
}

.dark-mode input[type="text"] {
    background-color: #666;
    color: #eee;
}

.dark-mode .flashes {
    background-color: #721c24;
    color: #fff;
}
